<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BugSense.WP7" version="0.9.9.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Controls" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="sl40-wp71" />
</packages>